<h1>Suggestions For Using This Website</h1>

<p>Some members of EllaJune have asked that there be suggestions for ways that they can use the website. These are only suggestions and ideas. This website strives to be created through a democratic process that engages members so we collectively decide how we want to use this website. If there is something you would like to use this website to do (that respects the mission and community guidelines) and you feel like you can't currently do it on the site, <i><%= link_to "we can change that!", get_involved_path %></i></p>

<p>If it helps, you can think of this website as a mix of <i><%= link_to "idealist", "http://www.idealist.org/" %></i>, <i><%= link_to "craigslist", "http://newyork.craigslist.org/" %></i> and <i><%= link_to "reddit", "http://newyork.craigslist.org/" %></i>. The goal is to create an online community where we can share information, resources and invest in each other's work. Those ideas can be manifested in many different ways. You can use the website to find other changemakers with similar interests or that live in your city. You can post inspiring articles and your favorite ted talks. You can comment on questions and ideas that other changemakers are posting. You can find a project to volunteer on or post an idea you have that you need collaborators to work with on.</p>

<p>In the navigation menu under "Posts", there are "popular tags". These popular tags are not set in stone. These tags are just like all other post tags and are only used to help filter posts by topic. Posts can have multiple tags. Below are brief descriptions for how these popular tags could be used.</p>

<h6>shares</h6>
<p>This tag was inspired by the great resource: <i><%= link_to "Shareable", "http://www.shareable.net/how-to-share" %></i>. Use this tag to organize and/or to find shares in your community. Shares could include food swaps, food shares, potlucks, housing shares, book swaps, carpooling and much more.</p>

<h6>seeking collaborators</h6>
<p>Use this tag to post and/or find projects that need collaborators.</p>

<h6>skillshares</h6>
<p>A skillshare is when people share skills with each other. This could simply finding one person that knows a skill you want to learn and asking them to teach you. Maybe you want to organize a free workshop or series of classes for your community. Maybe you want to ask people to donate or pay a reasonable fee for the workshop(s).</p>

<h6>travel stays</h6>
<p>This tag is inspired by couchsurfing! Use this tag to ask other members to host you when you are in their community. You can also post if you have space and are able to host other members in your home for free temporarily. We might develop this functionality as a more sophisticated technology but right now we're just using tags.</p>

<h6>volunteers</h6>
<p>Post here if your project, nonprofit or activist group needs volunteers or if you are looking for a volunteer opportunity.</p>

<h6>community advice</h6>
<p>Use this tag to solicit advice from the community. Example: perhaps you're interested in applying for grants to make your documentary film and you would like advice from others. Maybe you just opened a food truck and want to offer advice to others about your experience.</p>

<h6>fundraising</h6>
<p>Use this tag to post fundraising campaigns. Link to your website, kickstarter, indiegogo or whatever you use. Have money to donate? Use this tag to find projects and organizations to donate to. We eventually may further develop this technology for this feature but for now just use this tag.</p>

<h6>study groups</h6>
<p>Find or create a study group in your community! A study group is an informal gathering of people who convene regularly to exchange ideas and information on a specific subject.</p>

<h6>food</h6>
<p>Use this tag to post recipes, links to your favorite cooking videos, organize food swaps, potlucks, and foodshares.</p>

<h6>community healing</h6>
<p>Use this tag to discuss community healing: the spiritual, emotional, mental and physical empowerment of the black community. Also use this tag to organize healing spaces in your community. Women's circle anyone?</p>

<h6>art</h6>
<p>Pretty simple. Anything art related. </p>
