<p id="notice"><%= notice %></p>

<!-- Only use one of the image_tags below. They display the profile picture from largest to smallest, top to bottom -->
<%#= image_tag @user.avatar.url %>
<%#= image_tag @user.avatar.url(:medium) %>
<%= image_tag @user.avatar.url(:thumb) %>

<p>
  <b>Name:</b><br />
  <%= @user.name %>
</p>

<p>
  <b>Username:</b><br />
  <%= @user.username %>
</p>

<p>
  <b>Email:</b><br />
  <%= @user.email %>
</p>

<p>
  <b>Website:</b><br />
  <%= @user.website %>
</p>

<p>
  <b>City:</b><br />
  <%= @user.city %>
</p>

<p>
  <b>State:</b><br />
  <%= @user.state %>
</p>

<p>
  <b>Country:</b><br />
  <%= @user.country %>
</p>

<p>
  <b>Interests:</b><br />
  <%= raw @user.interest_tags.map(&:name).map { |t| link_to t, interest_tag_path(t) }.join(', ') %>
</p>