<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <link href='http://fonts.googleapis.com/css?family=Codystar' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Sintony' rel='stylesheet' type='text/css'>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "EllaJune" %></title>

  	<%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag    "main" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "zepto.js" %>
    <%= javascript_include_tag "foundation.js" %>
    <%= javascript_include_tag "foundation.topbar.js" %>
    <%= csrf_meta_tags %>
  </head>

<body>
  <nav class="top-bar" data-options="is_hover:false">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1><%= link_to "EllaJune", root_path %></h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="user_nav">
        <% if user_signed_in? %>
          <li><%= link_to "Edit Your Profile", edit_user_registration_path %></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to "Join", new_user_registration_path %></li> 
          <li><%= link_to "Sign In", new_user_session_path %></li>
        <% end %>
      </li>
    </ul>

    <ul class="left">
      <li class="divider"></li>
      <li><%= link_to "Members", users_path %></li>

      <li class="divider"></li>
      <li class="has-dropdown"><%= link_to "Posts", posts_path %>
        <ul class="dropdown">
          <li><%= link_to "all posts", posts_path %></li>
          <li><label>Popular Tags</label></li>
          <% @nav_tags = ["shares", "seeking collaborators", "skillshares", "travel stays", "volunteers", "community advice", "fundraising", "study groups", "food", "community healing", "art"] %>
          <% @nav_tags.each do |tag|%>
            <li><%= link_to tag, post_tag_path(tag) %></li>
          <% end %>
        </ul>

      <li class="divider"></li>
      <li class="has-dropdown"><%= link_to "Community Dreams", post_path("introducing-the-ellajune-community-dreams-project") %>
        <ul class="dropdown">
          <li><%= link_to "Project Description", post_path("introducing-the-ellajune-community-dreams-project") %></li>
          <li><%= link_to "All Community Dreams", post_tag_path("community dreams") %></li>
          <li><label>Subcategories</label></li>
          <% @nav_tags = ["visual dreams", "poetic dreams", "video dreams", "musical dreams"] %>
          <% @nav_tags.each do |tag|%>
            <li><%= link_to tag, post_tag_path(tag) %></li>
          <% end %>
        </ul>

      <li class="divider"></li>
      <li class="has-dropdown"><%= link_to "About", mission_path %>
        <ul class="dropdown">
          <li><%= link_to "Mission", mission_path %></li>
          <li><%= link_to "Community Guidelines", community_guidelines_path %></li>
          <li><%= link_to "Get Involved", get_involved_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
          <li><%= link_to "How to Use The Site", how_to_path %></li>
        </ul>

      </ul>
    </ul>
  </section>
  </nav>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
